.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color:rgb(146, 183, 244);
  border-top: 2px solid #6667AB;
}

.footerContent {
  width: 100%;
  text-align: center;
  padding-top: 4px;
  font-size: 14px;
}
