<app-toolbar>
  <button class="toolbar-button" (click)="newPerson()">Add New</button>
</app-toolbar>

<div class="pageHeadline">Manage Staff</div>
<div class="personnel-container">
  <div *ngIf="persons.length === 0" class="no-persons">
    No staff added yet.
  </div>

  <table *ngIf="persons.length > 0" class="personnel-table">
    <thead>
    <tr>
      <th class="tableHeader"></th>
      <th class="tableHeader">First Name</th>
      <th class="tableHeader">Last Name</th>
      <th class="tableHeader">Profession</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of persons">
      <td class="tableCell">
        <input type="checkbox"
               [checked]="person.isSelected"
               (change)="toggleSelection(person)"
               class="checkbox-input">
      </td>
      <td class="tableCell">{{ person.firstName }}</td>
      <td class="tableCell">{{ person.lastName }}</td>
      <td class="tableCell">{{ person.profession }}</td>
      <td class="tableCell">
        <button class="red-button" (click)="deletePerson(person)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <app-confirm-dialog
    [isVisible]="showConfirmDialog"
    [title]="dialogTitle"
    [message]="dialogMessage"
    [useInnerHTML]="true"
    (confirm)="onConfirmDelete()"
    (cancel)="onCancelDelete()">
  </app-confirm-dialog>
</div>

