@import '../app-colors';

button {
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  background-color:$color-primary;
  color: $color-primary-text;
  cursor: pointer;
  transition: background-color 0.1s ease, color 0.1s ease;
  min-width: 100px;
  height: 45px;

  &:hover {
    background-color: $color-primary-dark;
  }

  &:focus {
    outline: none;
    background-color: $color-primary;
    color: $color-primary-text;
  }

  &.toolbar-button {
    margin-left: 5px;
    margin-right: 5px;
  }

  &.red-button {
    color: $color-primary-text;
    background-color:$color-reset;

    &:hover {
      background-color: $color-reset-dark;
      color: $color-primary-text;
    }

    &:focus {
      outline: none;
      background-color: $color-reset-dark;
      color: $color-primary-text;
    }
  }

  &.circle-button {
    height: 40px;
    width: 40px;
    max-height: 40px;
    max-width: 40px;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
    font-weight: bold;
    border: 3px solid $color-primary;
  }
}

.table-button {
  letter-spacing: 1px;
  font-size: 1.1rem;
  min-width: 0;
  min-height: 0;
  padding: 0;
  border: none;
  font-weight: bold;
  color: $color-primary;
  background: none;
  border: 0;
  box-shadow: none;

  &:hover {
    background:none;
    text-decoration: underline;
    color: $color-primary-dark;
    border: 0;
  }

  &:focus {
    background:none;
    text-decoration: underline;
    color: $color-primary-dark;
    border: 0;
  }
}

.table-button-red {
  letter-spacing: 1px;
  font-size: 1.1rem;
  min-width: 0;
  min-height: 0;
  padding: 0;
  border: none;
  font-weight: bold;
  color: $color-reset;
  background: none;
  border: 0;
  box-shadow: none;

  &:hover {
    background:none;
    text-decoration: underline;
    color: $color-reset-dark;
    border: 0;
  }

  &:focus {
    background:none;
    text-decoration: underline;
    color: $color-reset-dark;
    border: 0;
  }
}

.horizontal-layout {
  display: flex;
  flex-direction: row; // horizontal orientation
  gap: 20px;           // 5px space between elements
}
.vertical-layout {
  display: flex;
  flex-direction: column; // vertical orientation
  gap: 10px;              // 5px space between elements
  align-items: center;    // center items horizontally
  justify-content: center; // center items vertically (optional)
}
.buttonItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
  align-items: stretch;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 5px;
}
