@import '../app-colors';


.glassPanel {
  background-color:transparent;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  backdrop-filter: blur(10px);
}

button {
  letter-spacing: 1px;
  font-size: 1rem;
  padding: 5px;
  border: 3px solid $color-primary;
  border-radius: 5px;
  color: $color-primary;
  cursor: pointer;
  transition: background-color 0.1s ease, color 0.1s ease;
  min-width: 100px;
  height: 40px;
  font-weight: bold;
  background-color:transparent;
  box-shadow: $color-primary-transparent 0px 5px 15px;
  backdrop-filter: blur(10px);

  &:hover {
    background-color: $color-primary;
    color: $color-primary-secondary-text;
  }

  &:focus {
    outline: none;
    background-color: $color-primary;
    color: $color-primary-secondary-text;
  }

  &.toolbar-button {
    margin-left: 5px;
    margin-right: 5px;
  }

  &.red-button {
    border-color: $color-reset;
    color: $color-reset;
    box-shadow: $color-reset-transparent 0px 5px 15px;

    &:hover {
      background-color: $color-reset;
      border-color: $color-reset;
      color: $color-primary-secondary-text;
    }

    &:focus {
      outline: none;
      background-color: $color-reset;
      border-color: $color-reset;
      color: $color-primary-secondary-text;
    }
  }

  &.message-box-button {
    color: $color-primary-secondary-text;
    border: 1px solid $color-primary-negative;
    height: 30px;

    &:hover {
      background-color: $color-primary-negative;
      border-color: $color-primary-negative;
      color: $color-primary;
    }

    &:focus {
      outline: none;
      background-color: $color-primary-negative;
      border-color: $color-primary-negative;
      color: $color-primary;
    }
  }



  &.circle-button {
    height: 40px;
    width: 40px;
    max-height: 40px;
    max-width: 40px;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
    font-weight: bold;
    border: 3px solid $color-primary;
  }
}

.table-button {
  letter-spacing: 1px;
  font-size: 1.1rem;
  min-width: 0;
  min-height: 0;
  padding: 0;
  border: none;
  font-weight: bold;
  color: $color-primary;
  border: 0;
  box-shadow: none;

  &:hover {
    background:none;
    text-decoration: underline;
    color: $color-primary;
  }

  &:focus {
    background:none;
    text-decoration: underline;
    color: $color-primary;
  }
}

.table-button-red {
  letter-spacing: 1px;
  font-size: 1.1rem;
  min-width: 0;
  min-height: 0;
  padding: 0;
  border: none;
  font-weight: bold;
  color: $color-reset;
  border: 0;
  box-shadow: none;

  &:hover {
    background:none;
    text-decoration: underline;
    color: $color-reset;
  }

  &:focus {
    background:none;
    text-decoration: underline;
    color: $color-reset;
  }
}

.horizontal-layout {
  display: flex;
  flex-direction: row; // horizontal orientation
  gap: 20px;           // 5px space between elements
}
.vertical-layout {
  display: flex;
  flex-direction: column; // vertical orientation
  gap: 10px;              // 5px space between elements
  align-items: center;    // center items horizontally
  justify-content: center; // center items vertically (optional)
}
.buttonItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
}
