@import '../app-colors';

button {
  font-size: 1.2rem;
  padding: 5px;
  border: 3px solid $color-primary;
  border-radius: 6px;
  background-color: transparent;
  color: $color-primary;
  cursor: pointer;
  transition: background-color 0.1s ease, color 0.1s ease;
  min-width: 100px;
  height: 40px;

  &:hover {
    background-color: $color-primary;
    color: $color-primary-secondary-text;
  }

  &.toolbar-button {
    margin-left: 5px;
    margin-right: 5px;
  }

  &.red-button {
    background-color: transparent;
    border-color: $color-reset-border;
    color: $color-reset-text;

    &:hover {
      background-color: $color-reset-border;
      border-color: $color-reset-hover-border;
      color: $color-primary-secondary-text;
    }
  }
}

.buttonItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}
