@import '../app-colors';

input, select {
  font-size: 1.0rem;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  background: $white-linear-gradient;
  border: 2px solid $color-primary-border;
  border-radius: 10px;
}

input:focus {
  border: 2px solid $color-primary-border;
  outline: none;
  background: white;
}

select:focus {
  border: 2px solid $color-primary-border;
  outline: none;
  background: white;
}
