@import '../app-colors';

.vertical-stack {
  display: flex;
  flex-direction: column;
  align-items: center; // Vertikale Zentrierung
  gap: 10px; // Abstand zwischen den Elementen
}

.horizontal-stack {
  display: flex;
  flex-direction: row;
  align-items: center; // Vertikale Zentrierung
  gap: 10px; // Abstand zwischen den Elementen
}

.dialogContent {
  margin-top: 6px;
  margin-bottom: 6px;
  letter-spacing: 1px;
  font-size: 1.1rem;
}

.dialogLabel {
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin-top: 6px;
  margin-bottom: 6px;
  color: $color-dim-text;
}
