@import '../app-colors';

.sidebar {
  width: 250px;
  height: 100%;
  border-radius: 0 20px 20px 0;
  background-color: $color-sidebar-transparent;
  margin-right: 15px;
  border-left: 0;
}

.sidebarHeader {
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: bold;
  color: $color-primary;
  letter-spacing: 0.1em;
  font-size: 1.2rem;
}

.sidebarItem {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  color: $color-primary;
  margin: 4px 10px;
  font-size: 1.1rem;
  letter-spacing: 0.1em;

  &:hover {
    border-radius: 6px;
    background-color: $color-primary-dark;
    cursor: pointer;
    color: $color-primary-negative;
  }

  &.active {
    background-color: $color-primary;
    color: $color-primary-negative;
    border-radius: 6px;
  }
}

.inspector {
  width: 250px;
  height: 100%;
  border-radius: 20px 0 0 20px;
  background-color: $color-sidebar-transparent;
  margin-left: 15px;
  border-left: 0;
}

hr {
  border: none;           /* Removes the default border */
  height: 2px;            /* Sets the height of the line */
  background-color: $color-primary;
  margin-left: 10px;
  margin-right: 10px;
}
