@import '../../../styles/app-colors';

.person-card {
  padding: 16px;
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border: 2px solid $color-primary-border;
  border-radius: 6px;
  background-color: white;
}

form
{
  display: inline-block;
  text-align: left;
  width: 25%;
}

.form {
  input, select {
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;

    &.invalid-input {
      background-color: $color-primary-error-input;
    }
  }

  .checkboxContainer {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.vertical-stack {
  display: flex;
  flex-direction: column;
  align-items: center; // Vertikale Zentrierung
  gap: 10px; // Abstand zwischen den Elementen
}

.horizontal-stack {
  display: flex;
  flex-direction: row;
  align-items: center; // Vertikale Zentrierung
  gap: 10px; // Abstand zwischen den Elementen
}

.dialogLabel {
  font-size: 1.0rem;
  margin-top: 6px;
  margin-bottom: 6px;
  letter-spacing: 1px;
}

.dialogLabelBold {
  font-size: 1.0rem;
  margin-top: 6px;
  margin-bottom: 6px;
  font-weight: bold;
  color: $color-dim-text;
}
