<h1>{{ headlineTitle }}</h1>

<div class="form">

  <form [formGroup]="personForm" (ngSubmit)="onSubmit()" novalidate>
    <div>
      <label class="formLabel" for="firstName">First Name</label>
      <input id="firstName" formControlName="firstName" [class.invalid-input]="formErrors['firstName']"/>
      <div *ngIf="formErrors['firstName']" class="errorLabel">
        {{ formErrors['firstName'] }}
      </div>
    </div>

    <div>
      <label class="formLabel" for="lastName">Last Name</label>
      <input id="lastName" formControlName="lastName" [class.invalid-input]="formErrors['lastName']"/>
      <div *ngIf="formErrors['lastName']" class="errorLabel">
        {{ formErrors['lastName'] }}
      </div>
    </div>

    <div>
      <label class="formLabel" for="profession">Profession</label>
      <select id="profession" formControlName="profession" [class.invalid-input]="formErrors['profession']">
        <option value="">Select a profession</option>
        <option *ngFor="let prof of professions" [value]="prof">{{ prof }}</option>
      </select>
      <div *ngIf="formErrors['profession']" class="errorLabel">
        {{ formErrors['profession'] }}
      </div>
      <div class="checkboxContainer">
        <input id="checkboxActive" type="checkbox" formControlName="isActive"/>
        <label class="formLabel" for="checkboxActive">Is Active</label>
      </div>
      <div class="checkboxContainer">
        <input id="checkboxLeader" type="checkbox" formControlName="canBeTeamLeader"/>
        <label class="formLabel" for="checkboxLeader">Can be Team Leader</label>
      </div>
    </div>
    <div class="buttonItemContainer">
      <button type="button" class="red-button" (click)="onReset()">Reset</button>
      <button type="submit">Submit</button>
    </div>
  </form>

  <!-- Show the submitted person in a messagebox overlay -->
  <app-messagebox [title]="titleForConfirmDialog"
                  [isVisible]="showConfirmDialog"
                  (onOkClose)="onConfirmOkDialog()">
    @if (personForConfirmDialog) {
    <div class="vertical-stack">
      <div class="horizontal-stack">
        <div class="dialogLabel">First Name</div>
        <div class="dialogContent"> {{ personForConfirmDialog!.firstName }}</div>
      </div>
      <div class="horizontal-stack">
        <div class="dialogLabel">Last Name</div>
        <div class="dialogContent"> {{ personForConfirmDialog!.lastName }}</div>
      </div>
      <div class="horizontal-stack">
        <div class="dialogLabel">Profession</div>
        <div class="dialogContent"> {{ personForConfirmDialog!.profession }}</div>
      </div>
    </div>
    }
  </app-messagebox>

</div>


