<h2 class="pageHeadline">{{headlineTitle}}</h2>

<div class="form">
  <form [formGroup]="personForm" (ngSubmit)="onSubmit()" novalidate>

    <div>
      <label class="formLabel" for="firstName">First Name</label>
      <input id="firstName" formControlName="firstName" [class.invalid-input]="formErrors['firstName']"/>
      <div *ngIf="formErrors['firstName']" class="errorLabel">
        {{ formErrors['firstName'] }}
      </div>
    </div>

    <div>
      <label class="formLabel" for="lastName">Last Name</label>
      <input id="lastName" formControlName="lastName" [class.invalid-input]="formErrors['lastName']"/>
      <div *ngIf="formErrors['lastName']" class="errorLabel">
        {{ formErrors['lastName'] }}
      </div>
    </div>

    <div>
      <label class="formLabel" for="profession">Profession</label>
      <select id="profession" formControlName="profession" [class.invalid-input]="formErrors['profession']">
        <option value="">Select a profession</option>
        <option *ngFor="let prof of professions" [value]="prof">{{ prof }}</option>
      </select>
      <div *ngIf="formErrors['profession']" class="errorLabel">
        {{ formErrors['profession'] }}
      </div>
      <div class="checkboxContainer">
        <input id="checkboxActive" type="checkbox" formControlName="isActive"/>
        <label class="formLabel" for="checkboxActive">Is Active</label>
      </div>
      <div class="checkboxContainer">
        <input id="checkboxLeader" type="checkbox" formControlName="canBeTeamLeader"/>
        <label class="formLabel" for="checkboxLeader">Can be Team Leader</label>
      </div>
    </div>
    <div class="buttonItemContainer">
      <button type="button" class="red-button" (click)="onReset()">Reset</button>
      <button type="submit">Submit</button>
    </div>
  </form>

  <!-- Show the submitted person -->
  <app-people-added-overlay-dialog
    [isVisible]="showConfirmDialog"
    [submittedPerson]="personForConfirmDialog"
    [title]="titleForConfirmDialog"
    (ok)="onConfirmOkDialog()">
  </app-people-added-overlay-dialog>

</div>


