<h1>Playground</h1>

<div class="playground-container">

  <div>
    <a routerLink="/playground-two-way">
      <div class="playground-link">
        Two-Way-Binding
      </div>
    </a>
  </div>

  <div>
    <a routerLink="/playground-pipes">
      <div class="playground-link">
        Build-In Pipes
      </div>
    </a>
  </div>

  <div>
    <a routerLink="/playground-custom-pipes">
      <div class="playground-link">
        Custom Pipes
      </div>
    </a>
  </div>

  <div>
    <a routerLink="/playground-class-binding">
      <div class="playground-link">
        Class Binding
      </div>
    </a>
  </div>

  <div>
    <a routerLink="/playground-style-binding">
      <div class="playground-link">
        Style Binding
      </div>
    </a>
  </div>

  <div>
    <a routerLink="/playground-array">
      <div class="playground-link">
        Array
      </div>
    </a>
  </div>

  <div>
    <a routerLink="/playground-simple-signal">
      <div class="playground-link">
        Simple Signal
      </div>
    </a>
  </div>

  <div>
    <a routerLink="/playground-event-binding">
      <div class="playground-link">
        Event Binding
      </div>
    </a>
  </div>

  <div>
    <a routerLink="/playground-country-service">
      <div class="playground-link">
        Service
      </div>
    </a>
  </div>

  <div>
    <a routerLink="/playground-list-parent">
      <div class="playground-link">
        Simple List
      </div>
    </a>
  </div>

  <div>
    <a routerLink="/playground-dialog-parent">
      <div class="playground-link">
        Dialog Window Demo
      </div>
    </a>
  </div>

</div>
