@import '../../../styles/app-colors';

.personnel-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.personnel-table {
  width: 100%;
  border-collapse: collapse;
  background-color: $color-primary-border;
  border: 2px solid $color-primary-border;

  .tableHeader {
    color: white;
    padding: 12px;
    font-weight: bold;
    border-right: 2px solid white;
    letter-spacing: 2px;
    font-size: 1.1rem;
  }

  .tableCell {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid $color-primary;
    background-color: white;
    letter-spacing: 1px;
    font-size: 1.1rem;
  }

  .tableCellActions {
    text-align: left;
    padding-left: 12px;
  }

  /*
  .tableCell:hover {
    background-color: rgba(0, 0, 0, 0.02);
  }
  */

  .delete-button {
    color: $color-reset;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #c82333;
    }

    &:active {
      background-color: #bd2130;
    }
  }
}

.no-persons {
  text-align: center;
  padding: 20px;
  color: $color-primary;
  font-size: 1.0rem;
  letter-spacing: 1px;
}

