<app-toolbar>
  <button class="toolbar-button" (click)="newPerson()">Add New</button>
</app-toolbar>

<div class="pageHeadline">Manage Staff</div>
<div class="personnel-container">
  <div *ngIf="persons.length === 0" class="no-persons">
    No staff added yet.
  </div>

  <table *ngIf="persons.length > 0" class="personnel-table">
    <thead>
    <tr>
      <th class="tableHeader"></th>
      <th class="tableHeader">First Name</th>
      <th class="tableHeader">Last Name</th>
      <th class="tableHeader">Profession</th>
      <th class="tableHeader">Leader</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of persons">
      <td class="tableCell">
        <div>
          <input id="selected-check-{{person.id}}"
                 type="checkbox"
                 [checked]="person.isSelected"
                 (change)="toggleSelection(person)">
          <label for="selected-check-{{person.id}}"></label>
        </div>
      </td>
      <td class="tableCell">{{ person.firstName }}</td>
      <td class="tableCell">{{ person.lastName }}</td>
      <td class="tableCell">{{ person.profession }}</td>
      <td class="tableCell">
        @if (person.canBeTeamLeader) {
          YES
        } @else {
          NO
        }
      </td>
      <td class="tableCell">
        <button class="red-button" (click)="deletePerson(person)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <app-confirm-overlay-dialog
    [isVisible]="showConfirmDialog"
    [title]="dialogTitle"
    [message]="dialogMessage"
    [useInnerHTML]="true"
    (confirmEvent)="onConfirmDelete()"
    (cancelEvent)="onCancelDelete()">
  </app-confirm-overlay-dialog>
</div>

