@import '../../../styles/app-colors';

.personnel-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.no-persons {
  text-align: center;
  padding: 20px;
  color: $color-primary;
  font-size: 1.0rem;
  letter-spacing: 1px;
}

.search-display {
  letter-spacing: 1px;
  font-size: 1.1rem;
}

