<app-toolbar>
  <button class="glass-button toolbar-button" (click)="onNewEquipmentClicked()">Add New</button>
</app-toolbar>

<h1>Manage Equipment</h1>

<div class="equipment-container">

  <div *ngIf="equipments() as equipmentsList; else noData">
    <ng-container *ngIf="equipmentsList.length > 0; else noData">

      <table *ngIf="equipmentsList.length > 0" class="tableContent">
        <thead>
        <tr>
          <th class="tableHeader"></th>
          <th class="tableHeader">Description</th>
          <th class="tableHeader">Type</th>
          <th class="tableHeader">Active</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let equipment of equipmentsList">
          <td class="tableCell centerCell">
            <div>
              <input id="selected-check-{{equipment.id}}"
                     type="checkbox"
                     [checked]="equipment.isSelected"
                     (change)="toggleSelection(equipment)">
              <label for="selected-check-{{equipment.id}}"></label>
            </div>
          </td>
          <td class="tableCell" [class.inactive]="!equipment.isActive">{{ equipment.description }}</td>
          <td class="tableCell" [class.inactive]="!equipment.isActive">{{ equipment.equipmentType }}</td>
          <td class="tableCell centerCell" [class.inactive]="!equipment.isActive">
            @if (equipment.isActive) {
              YES
            } @else {
              NO
            }
          </td>
          <td class="tableCell">
            <div class="horizontal-layout">
              <button class="table-button" (click)="onEditEquipmentClicked(equipment)">Edit</button>
              <button class="table-button-red" (click)="onDeleteEquipmentClicked(equipment)">Delete</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

    </ng-container>
  </div>

  <ng-template #noData>
    <div class="no-persons vertical-layout">
      <div>No people yet.</div>
      <button class="circle-button" (click)="onNewEquipmentClicked()">+</button>
      <div>Why not add some?</div>
    </div>
  </ng-template>

  <!--app-confirm-overlay-dialog
    [isVisible]="showConfirmDialog"
    [title]="dialogTitle"
    [message]="dialogMessage"
    [useInnerHTML]="true"
    (confirmEvent)="onConfirmDelete()"
    (cancelEvent)="onCancelDelete()">
  </app-confirm-overlay-dialog-->

  <app-questionbox [title]="dialogTitle"
                   [isVisible]="showConfirmDialog"
                   (onOkClose)="onConfirmDelete()"
                   (onCancelClose)="onCancelDelete()">
    @if (dialogMessage) {
      <div class="vertical-stack">
        <div class="dialogContent">Are you sure you want to delete</div>
        <div class="horizontal-stack">
          <div class="dialogContent">{{dialogMessage}}</div>
          <div class="dialogContent">?</div>
        </div>
      </div>
    }
  </app-questionbox>

</div>
