<h1>Sample for Style Binding</h1>

<p
  [style.color]="isImportant ? 'red' : null"
  [style.fontWeight]="isImportant ? 'bold' : null">
  This text can be bold and red.</p>

<p
  [style.textDecoration]="isUnderlined ? 'underline' : null">
  This text can be underlined.</p>

<p
  [style.color]="isImportant ? 'red' : null"
  [style.fontWeight]="isImportant ? 'bold' : null"
  [style.textDecoration]="isUnderlined ? 'underline' : null">
  This text can be bold and red but also underlined.</p>

<div class="button-group">
  <button (click)="toggleImportant()">Toggle Important</button>
  <p class="spacer-horizontal-15"></p>
  <button (click)="toggleUnderlined()">Toggle Underlined</button>
</div>
