@import '../../../styles/app-colors';

.search-bar-container {
  padding-bottom: 10px;
}

input
{
  padding: 8px;
  border-radius: 0; // Metro: square
  width: 100%;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
  font-size: 1.0rem;
  box-sizing: border-box;
  margin-top: 5px;
  background: $color-surface;
  border: 2px solid $color-primary-border;
}
