<div class="dialog-overlay" *ngIf="isVisible" (click)="onOverlayClick($event)">
  <div class="dialog-container">
    <h3 class="dialog-title">{{ title }}</h3>
    @if (submittedPerson) {
      <div class="horizontal-stack">
        <div class="dialogLabelBold">First Name:</div>
        <div class="dialogLabel"> {{ submittedPerson.firstName }}</div>
      </div>
      <div class="horizontal-stack">
        <div class="dialogLabelBold">Last Name:</div>
        <div class="dialogLabel"> {{ submittedPerson.lastName }}</div>
      </div>
      <div class="horizontal-stack">
        <div class="dialogLabelBold">Profession:</div>
        <div class="dialogLabel"> {{ submittedPerson.profession }}</div>
      </div>
    }
    <div class="spacer-vertical-30"></div>
    <div class="dialog-button-container">
      <button (click)="onConfirm()">OK</button>
    </div>
  </div>
</div>
