@import '../../../styles/app-colors';
@import '../../../styles/components/messageboxContent';

form
{
  display: inline-block;
  text-align: left;
  width: 25%;
  min-width: 400px;
}

.form {
  input, select {
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;

    &.invalid-input {
      background-color: $color-primary-error-input;
    }
  }

  .checkboxContainer {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
