<h1>{{ headlineTitle }}</h1>

<div class="form">

  <form [formGroup]="equipmentForm" (ngSubmit)="onSubmit()" novalidate>

    <div>
      <label class="formLabel" for="description">Description</label>
      <input id="description" formControlName="description" [class.invalid-input]="formErrors['description']"/>
      <app-info-box *ngIf="formErrors['description']" [type]="InfoBoxType.Error">
        {{ formErrors['description'] }}
      </app-info-box>
    </div>

    <div>
      <label class="formLabel" for="equipmentType">Equipment Type</label>
      <select id="equipmentType" formControlName="equipmentType" [class.invalid-input]="formErrors['equipmentType']">
        <option value="">Select an equipment type</option>
        <option *ngFor="let equipment of equipmentTypes" [value]="equipment">{{ equipment }}</option>
      </select>
      <app-info-box *ngIf="formErrors['equipmentType']" [type]="InfoBoxType.Error">
        {{ formErrors['equipmentType'] }}
      </app-info-box>
    </div>

    <div class="checkboxContainer">
      <input id="checkboxActive" type="checkbox" formControlName="isActive"/>
      <label class="formLabel" for="checkboxActive">Is Active</label>
    </div>

    <div class="buttonItemContainer">
      <button type="button" class="glass-red-button" (click)="onReset()">Reset</button>
      <button type="submit" class="glass-button">Submit</button>
    </div>
  </form>

  <!-- Show the submitted person in a messagebox overlay -->
  <app-messagebox [title]="titleForConfirmDialog"
                  [isVisible]="showConfirmDialog"
                  (onOkClose)="onConfirmOkDialog()">
    @if (equipmentForConfirmDialog) {
      <div class="vertical-stack">
        <div class="horizontal-stack">
          <div class="dialogLabel">Description:</div>
          <div class="dialogContent"> {{ equipmentForConfirmDialog.description }}</div>
        </div>
        <div class="horizontal-stack">
          <div class="dialogLabel">Type:</div>
          <div class="dialogContent"> {{ equipmentForConfirmDialog.equipmentType }}</div>
        </div>
      </div>
    }
  </app-messagebox>

</div>
