@if (isVisible) {
  <div class="dialog-overlay">
    <div class="glassPanel message-box">
      <div class="message-header">
        <div class="message-title">{{ title }}</div>
      </div>
      <div class="message-content">
        <ng-content></ng-content>
      </div>
      <div class="message-footer">
        <button class="message-box-button" (click)="closeOkDialog()">OK</button>
        <button class="message-box-cancel-button" (click)="closeCancelDialog()">Cancel</button>
      </div>
    </div>
  </div>
}
