<div class="sidebar">
  <a routerLink="/splash">
    <div class="sidebarHeader">
      Assembly Planning
    </div>
  </a>
  <hr>
  <a routerLink="/addPersonnel">
  <div class="sidebarItem">
    Add new Personnel
  </div>
  </a>
  <a routerLink="/addResource">
  <div class="sidebarItem">
    Add new Resource
  </div>
  </a>
  <hr>
  <a routerLink="/managePersonnel">
  <div class="sidebarItem">
    Manage Personnel
  </div>
  </a>
  <a routerLink="/manageResources">
  <div class="sidebarItem">
    Manage Resources
  </div>
  </a>
  <hr>
  <a routerLink="/plan">
  <div class="sidebarItem">
    Plan
  </div>
  </a>
  <hr>
  <a routerLink="/settings">
    <div class="sidebarItem">
      Settings
    </div>
  </a>
</div>
