<div class="sidebar">
  <a routerLink="/splash">
    <div class="sidebarHeader">
      Assembly Planning
    </div>
  </a>
  <hr>
  <div class="sidebarItem">
    Add new Personnel
  </div>
  <div class="sidebarItem">
    Add new Resource
  </div>
  <hr>
  <div class="sidebarItem">
    Manage Personnel
  </div>
  <div class="sidebarItem">
    Manage Resources
  </div>
  <hr>
  <div class="sidebarItem">
    Plan
  </div>
  <hr>
  <a routerLink="/settings">
    <div class="sidebarItem">
      Settings
    </div>
  </a>
</div>
