<div class="glassPanel sidebar">
  <a routerLink="/splash">
    <div class="sidebarHeader">
      Assembly Planning
    </div>
  </a>
  <hr>
  @for (item of items; track $index) {

    @if (item.type === 'group') {
      <app-sidebar-group>{{ item.label }}</app-sidebar-group>
    }
    @else if (item.type === 'divider') {
      <hr>
    } @else {
      <a [routerLink]=item.routeLink>
        <div class="sidebarItem"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
          {{ item.label }}
        </div>
      </a>
    }
  }

</div>
