.important {
  color: red;
  font-weight: bold;
}

.underlined {
  text-decoration: underline;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer-horizontal-15 {
  width: 15px;
}
