/* You can add global styles to this file, and also import other style files */
@import 'styles/app-colors';
@import 'styles/components/button';
@import 'styles/components/input';

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-attachment: fixed;
  background: #f9f3e8;
  background: linear-gradient(180deg, rgba(249, 243, 232, 1) 0%, $color-background-blue 100%);
  font-family: Helvetica Neue, Arial, Geneva, sans-serif;
  font-size: 18px;
}

html {
  height: 100%;
  width: 100%;
}

.pageHeadline {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  color: $color-primary-border;
}

.errorMessage {
  color: $color-reset-text;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.formLabel {
  font-size: 1.2rem;
  margin-left: 4px;
}

form {
  margin-top: 15px;
  margin-left: 15px;
}




