/* You can add global styles to this file, and also import other style files */
@import 'styles/app-colors';
@import 'styles/components/button';
@import 'styles/components/input';
@import 'styles/components/checkbox';
@import 'styles/components/overlay';
@import 'styles/components/glass';
@import 'styles/components/table';

@font-face {
  font-family: 'MainFont';
  src: url('assets/fonts/SFPRODISPLAYREGULAR.OTF') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-attachment: fixed;
  background-color: #f9f3e8;
  // background: linear-gradient(180deg, rgba(249, 243, 232, 1) 0%, $color-background-blue 100%);
  font-family: 'MainFont', sans-serif;
  font-size: 1.0rem;
  background-image: url("assets/images/bluebackground2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  color: $color-primary;
  letter-spacing: 0.1rem;
}

.pageHeadline {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  color: $color-primary;
  letter-spacing: 0.1em;
}


.errorMessage {
  color: $color-reset;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.formLabel {
  font-size: 1.0rem;
  margin-left: 4px;
  letter-spacing: 1px;
}

.errorLabel {
  color: $color-primary-error;
  font-size: 1.0rem;
  letter-spacing: 1px;
  background: $color-pastel-yellow;
  padding: 8px 5px;
  border: solid 1px $color-primary-error;
  margin-top: 5px;
  margin-bottom: 5px;
}

form {
  margin-top: 15px;
  margin-left: 15px;
}






