/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-attachment: fixed;
  background: #d3e1e8;
  background: linear-gradient(180deg, rgba(211, 225, 232, 1) 0%, rgb(146, 183, 244) 100%);
}

html {
  height: 100%;
  width: 100%;
}
