<div class="dialog-overlay" *ngIf="isVisible" (click)="onOverlayClick($event)">
  <div class="dialog-container">
    <h3 class="dialog-title">{{ title }}</h3>
    <p class="message" *ngIf="!useInnerHTML">{{ message }}</p>
    <p class="message" *ngIf="useInnerHTML" [innerHTML]="message"></p>
    <div class="spacer-vertical-30"></div>
    <div class="dialog-button-container">
      <button  (click)="onCancel()">Cancel</button>
      <button class="red-button" (click)="onConfirm()">Confirm</button>
    </div>
  </div>
</div>
