.playground-container {
  display: inline-block;
  text-align: left;
  width: 25%;
  min-width: 400px;
}

input, select {
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
}

.checkboxContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}
