<div class="dialog-overlay" *ngIf="isVisible" (click)="onOverlayClick($event)">
  <div class="dialog-container">
    <h3 class="dialog-title">{{ title }}</h3>
    @if (submittedEquipment) {
      <div class="horizontal-stack">
        <div class="dialogLabelBold">Description</div>
        <div class="dialogLabel"> {{ submittedEquipment.description }}</div>
      </div>
      <div class="horizontal-stack">
        <div class="dialogLabelBold">Type:</div>
        <div class="dialogLabel"> {{ submittedEquipment.equipmentType }}</div>
      </div>
    }
    <div class="spacer-vertical-30"></div>
    <div class="dialog-button-container">
      <button (click)="onConfirm()">OK</button>
    </div>
  </div>
</div>
