@import '../../../styles/app-colors';

.message-box {
  border-radius: 20px;
  padding: 0px;
  min-width: 400px;
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  backdrop-filter: blur(10px);
}

.message-header {
  background-color: rgba($color-primary-negative, 0.8);
  height: 45px;
  border-radius: 20px 20px 0 0;
  display: flex;              /* enables flexbox */
  justify-content: center;    /* centers horizontally */
  align-items: center;        /* centers vertically */
}

.message-title {
  color: $color-primary;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}

.message-content {
  display: flex;              /* enables flexbox */
  justify-content: center;    /* centers horizontally */
  align-items: center;        /* centers vertically */
  min-height: 200px;
  background-color: $color-primary-negative;
  border-top: solid 2px $color-primary;
  border-bottom: solid 2px $color-primary;
}

.message-footer {
  background-color: rgba($color-primary-negative, 0.8);
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
}

.message-box-button {
  background-color: $color-primary;
  border: 1px solid $color-primary;
  color: $color-primary-text;
  height: 28px;

  &:hover {
    outline: none;
    background-color: $color-primary-dark;
  }

  &:focus {
    outline: none;
    background-color: $color-primary;
  }
}

.message-box-cancel-button {
  background-color: $color-reset;
  border: 1px solid $color-reset;
  color: $color-primary-text;
  height: 28px;

  &:hover {
    outline: none;
    background-color: $color-reset-dark;
  }

  &:focus {
    outline: none;
    background-color: $color-reset-dark;
  }
}
